.card{
    display: grid;
    justify-items: center;
    width: 290px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to top,   #7f098f ,#091474);
    border-image-slice: 1;
    color: #ECEDEE;
    margin: 15px;
    background-color: #181e24;
}
.cardText{
    display:grid;
    margin: 0px;
}
.cardH1{
    display: flex;
    align-items: start;
    margin: 0px;
    margin-left: 25px;
    font-size: 19px;
}
.cardP{
    display: flex;
    text-align: start;
    margin: 0px;   
    color: #92929A;
    font-size: 14px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.svgTitle{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 55px;
    margin-top: 10px;
    align-items: center;
}
.SvgCss{
    color: #290F43;
}